/* basic tab css taken from https://www.w3schools.com/howto/howto_css_icon_bar.asp*/
.icon-bar {
  width: 90px; /* Set a specific width */
  background-color: #ffffff; /* Dark-grey background */
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: rgb(0, 0, 0); /* White text color */
  font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #091b69; /* Add an active/current color */
  color: #ffffff;
}