.icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 16;
  transition: background-color 0.3s, color 0.3s;
  padding: 8px;
  border-radius: 6px;
  user-select: none;
}

.icon-link i {
  margin-bottom: 4px;
}

.icon-link:hover,
.icon-link.active {
  background-color: #091b69;
  color: white;
  cursor: pointer;
}

h3 {
  margin-bottom: 0.2rem;
}

p {
  margin-top: 0;
  color: #333;
}
